# OS-specific files
.DS_Store
*.swp
*~

# IDE & Editor settings
.eclipse.buildship.core.prefs
.idea/
.vscode/
.vs/
.project
*.iml
*.ipr
*.iws
*.suo
*.user
*.userosscache
*.sln.docstates

# Kubernetes & Terraform
.kubernetes-manifests-*/
.skaffold-*.yaml
.terraform.lock.hcl
.terraform/*
*.tfstate*
*.tfvars

# Python
.venv/
venv/
*.pyc

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml
.npm/
.nvmrc

# Golang
bin/
pkg/
*.exe
*.dll
*.so
*.dylib
*.out
*.test
go.sum
go.work
go.work.sum
vendor/

# C# / .NET
*.dll
*.exe
*.pdb
*.mdb
*.cache
*.so
*.dylib
*.nupkg
*.snupkg
*.props
*.targets
._dotnet_packages/
.nuget/
packages/
project.lock.json
project.assets.json
src/cartservice/dotnet_packages/

# Java & Gradle
.gradle/
build/

# C++/C
obj/
out/

# Logs & Debug
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# Docker
Dockerfile.pip

# Build artifacts
TestResults/
publish/
release/

